[Desktop Entry]
Type=Application
Name=Celeste (Everest)
Comment=A game about climbing a mountain
Icon=celeste
Exec=/home/cameron/Documents/Games/Celeste/start everest
Categories=Game;
