[Desktop Entry]
Type=Application
Name=Keys (2FA)
Comment=Multi-factor authentication
Icon=password-manager
Exec=otpclient
Categories=System;Security;GTK;GNOME;
Keywords=otp;totp;hotp;mfa;2fa
