[Desktop Entry]
Type=Application
Name=Cuphead
Comment=A classic run and gun action game inspired by cartoons of the 1930s
Icon=/home/cameron/Documents/Games/Cuphead/cuphead.png
Exec=/home/cameron/Documents/Games/Cuphead/start
Categories=Game;
