[Desktop Entry]
Type=Application
Name=Enter the Gungeon
Comment=A gunfight dungeon crawler
Icon=enter-the-gungeon
Exec="/home/cameron/Documents/Games/Enter the Gungeon/start"
Categories=Game;
