[Desktop Entry]
Type=Application
Name=Fceux (NES)
Comment=NES Emulator
Icon=/usr/share/pixmaps/fceux1.png
Exec=/home/cameron/Documents/Games/Nintendo/nes/start %F
MimeType=application/x-nes-rom
Categories=Game;Emulator;
Keywords=Game;NES;SNES;
