[Desktop Entry]
Type=Application
Name=Minecraft (Launcher)
Comment=A 3D sandbox game
Icon=minecraft
Exec=/home/cameron/Documents/Games/Mojang/mcpe/start launcher
Categories=Game;
Keywords=Game;
