[Desktop Entry]
Type=Application
Name=Minecraft
Comment=A 3D sandbox game
Icon=minecraft
Exec=flatpak run io.mrarm.mcpelauncher -p
Categories=Game;
Keywords=Game;
