[Desktop Entry]
Type=Application
Name=Minecraft (Launcher)
Comment=A 3D sandbox game
Icon=minecraft
Exec=flatpak run io.mrarm.mcpelauncher
Categories=Game;
Keywords=Game;
