[Desktop Entry]
Type=Application
Name=Minecraft
Comment=A 3D sandbox game
Icon=minecraft
Exec=/home/cameron/Documents/Games/Minecraft/start
Categories=Game;
