[Desktop Entry]
Type=Application
Name=Volume Control
Comment=Adjust the volume level
Icon=multimedia-volume-control
Exec=env GDK_DISABLE=vulkan pavucontrol
Categories=AudioVideo;Audio;Mixer;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
