[Desktop Entry]
Type=Application
Name=Terraria
Comment=An action-adventure sandbox game
Icon=terraria
Exec=/home/cameron/Documents/Games/Terraria/start
Categories=Game;
